<ion-header>
  <ion-header style= "background-color: #ffdd09">
  <ion-toolbar>
    <ion-title>
      Jastipin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header style="background-color: #ffdd09;">
      AKUN SAYA
    </ion-list-header>
    <ion-item>Profil Saya</ion-item>
    <ion-item>Alamat Saya</ion-item>
    <ion-item>Kartu/ Rekening Bank</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header style="background-color: #ffdd09;">
      PENGATURAN
    </ion-list-header>
    <ion-item>Pengaturan Chat</ion-item>
    <ion-item>Pengaturan Notifikasi</ion-item>
    <ion-item>Pengaturan Privasi</ion-item>
    <ion-item>Bahasa</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header style="background-color: #ffdd09;">
      BANTUAN
    </ion-list-header>
    <ion-item>Pusat Bantuan</ion-item>
    <ion-item>Kebijakan Jastipin</ion-item>
    <ion-item>Suka Jastipin? Nilai Kami!</ion-item>
    <ion-item>Bersihkan Cache</ion-item>
    <ion-button expand="full" color="primary">
        <ion-icon slot="start" name="star"></ion-icon>
        Hapus Akun</ion-button>
  </ion-list>
  <ion-button expand="block" fill="outline">LOGOUT </ion-button>
  
  

</ion-content>